
body{
    font-family: Avenir, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FBE9;
    min-height: 100%;
    position: absolute;
  }
  
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #D1D3C0;
    color: #F9FBE9;
}

/***************************************************************************************************/
/*********************************      barre de navigation       **********************************/
/***************************************************************************************************/

.logo{
    width: 90px;
    margin-top: 15%;
    margin-bottom: 5%;

}

header{
    position: fixed;
    float: left;
    width: 300px;
        text-align: center;

}

.menu{
    text-align: left;
    margin-left: 22%;
    margin-top: 15%;
}

.menu p {
    margin-bottom: -1%;
}

.menu a{
    text-decoration: #2F3123 wavy underline;
    color: #2F3123;   
 
}

.menu a:hover{
    color: #F49269;
    text-decoration: #F49269 wavy underline;
}
/******.vertical{
    border-left: 1px solid #F49269;
    height: 150%;
    margin-top: 2%;
    display: inline-block;
}



*********************************************************************************************/
/*********************************      section galerie       **********************************/
/***************************************************************************************************/

.category{
    margin-top: 2%;
    margin-bottom: 10%;
    width: 78%;
    display: flex;
    float: right;

}

h1{
    color: #2F3123;
    font-family: 'Krona one', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 28px;
}
h2{
    color: #2F3123;
    font-family: 'DM sans';
    font-size: 16px;
    margin-top: -3%;
}

.contain{
    display: flex;
    flex-wrap: wrap;

}
.contain img {
    width:250px;
    height: 220px;
    object-fit: cover;
}


.container {
    position: relative;
    margin: 10px;

}

.image {
    display: block;
    height: auto;

}

.overlay {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .35s ease;
    background-color: #F49269;
}

.container:hover .overlay {
    opacity: 0.8;
      width:250px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-detail{
    width:250px;
    height: 220px;
    margin: 1%;
    object-fit: cover;
    box-shadow: 3px 3px 13px #999;
}


/***************************************************************************************************/
/*********************************      footer       **********************************/
/***************************************************************************************************/



/***************************************************************************************************/
/*********************************      responsive       **********************************/
/***************************************************************************************************/



@media screen and (min-width: 200px) and (max-width: 640px){

body{
    font-family: Avenir, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FBE9;
    min-height: 100%;
    position: absolute;
  }

footer{
    font-size: 12px;
}

.logo{
    width: 90px;
    margin-top: 10%;
    margin-bottom: 2%;

}

header{
    width: 100%;
    text-align: center;
    position: initial;
    margin-bottom: 10%;

}

.menu{
    text-align: center;
    margin-left: 1%;
    margin-top: 8%;

}

.menu p {
    margin-bottom: -1%;
}

.menu a{
    text-decoration: #2F3123 wavy underline;
    color: #2F3123;   
 
}

.menu a:hover{
    color: #F49269;
    text-decoration: #F49269 wavy underline;
}


h1{
    color: #2F3123;
    font-family: 'Krona one', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
}
h2{
    color: #2F3123;
    font-family: 'DM sans';
    font-size: 15px;
    margin-top: -3%;
}

.category{
    width: 100%;
    margin-bottom: 20%;
    display: flex;
}

.contain img {
    width:150px;
    height: 180px;
    object-fit: cover;
}


.container {
    position: relative;
    margin: 10px;

}

.overlay {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .35s ease;
    background-color: #F49269;
}

.container:hover .overlay {
    opacity: 0.8;
      width:150px;
}

.text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


  
}